# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Java
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/

# Eclipse
.classpath
.project
.settings/
bin/

# VSCode
.vscode/

# NetBeans
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Logs
*.log

# Maven Wrapper jar (baixado automaticamente)
.mvn/wrapper/maven-wrapper.jar

# Documentos internos da equipe
alinhamento-equipe.html
*.pdf

# Configurações locais
config.local.properties

# secrets

*/secrets